node_modules
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

slask/server_original.js
slask/server-lecture1.js
slask/server-lecture2.js
slask/server-nominees-test.js
