$fonstStack: "Roboto", sans-serif;
$primaryBorder: 1px solid #000;
$secondaryBorder: 2px solid #f2f2f2;

$primaryFont: #000;
$secondaryFont: #fff;

$primaryBackground: #000;
$secondaryBackground: #f2f2f2;

@mixin basicInput {
  font-family: $fonstStack;
  color: $primaryFont;

  height: 40px;
  width: 180px;

  display: block;
  background: none;
  border: $primaryBorder;

  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  text-transform: uppercase;
  transition: 0.1s ease;

  &:hover {
    background: rgba($color: #fff, $alpha: 0.5);
    transition: 0.2s ease;
  }

  &:focus {
    outline: none;
    font-style: italic;
  }

  &::placeholder {
    color: lighten($primaryFont, 60%);
  }
}

@mixin basicButton {
  margin-left: 4px;
  width: 70px;

  background: $secondaryBackground;
  color: $primaryFont;
  border: $secondaryBorder;

  font-size: 22px;
  padding: 4px 10px;

  mix-blend-mode: lighten;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    color: $secondaryFont;
    background: none;
    transition: 0.2s ease;
  }
  &:focus,
  &:active {
    outline: none;
  }
}

@mixin basicParagraph {
  font-size: 28px;
  font-weight: 500;
}
