$fonstStack: "Roboto", sans-serif;
$primaryBorder: 1px solid #000;

$primaryFont: #000;
$secondaryFont: #fff;

$primaryBackground: #000;
$secondaryBackground: #f2f2f2;

@mixin basicInput {
  font-family: "Roboto", sans-serif;
  color: $primaryFont;

  height: 40px;
  width: 180px;

  display: block;
  background: none;
  border: $primaryBorder;

  font-size: 16px;
  font-weight: 300;
  padding-left: 10px;
  margin: 4px 0;
  text-transform: uppercase;

  &:focus {
    outline: none;
    font-style: italic;
  }

  &::placeholder {
    color: lighten($primaryFont, 60%);
  }
}

@mixin basicButton {
  margin-left: 4px;
  width: 70px;
  background: #000;
  color: $secondaryFont;
  font-size: 22px;
  border: $primaryBorder;
  padding: 4px 10px;
  mix-blend-mode: darken;
  transition: 0.2s ease;
  cursor: pointer;

  &:hover {
    color: $primaryFont;
    background: none;
    transition: 0.2s ease;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
