header {
  display: flex;
  justify-content: space-between;
  height: 250px;
  padding: 20px 0;

  .header-left-container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: $primaryFont;
    font-size: 72px;
    font-weight: 900;
    display: inline;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  input {
    @include basicInput;
  }

  select {
    @include basicInput;
    margin: 10px 0 0 10px;
  }
}
