header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  padding: 20px 0;

  .header-left-container {
    display: flex;
    flex-direction: column;
  }
  .header-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 12px;
  }

  h1 {
    color: $primaryFont;
    font-size: 72px;
    font-weight: 900;
    display: inline;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  input {
    @include basicInput;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select {
    @include basicInput;
    margin: 10px 0 0 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
  }
}
