article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 4px 10px 10px;

  .volcano-top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    display: inline;
    font-size: 52px;
    font-weight: 600;
  }
  p {
    @include basicParagraph;
    margin-left: 6px;
    line-height: 50px;
  }
  .country-paragraph {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  span {
    font-weight: 300;
  }

  button {
    @include basicButton;

    height: 38px;
    background: $primaryBackground;
    color: $secondaryFont;
    border: $primaryBorder;
    mix-blend-mode: darken;
    &:hover {
      color: $primaryFont;
    }
  }
}
