@import "./styles/config";
@import "./styles/header";
@import "./styles/volcano";
@import "./styles/volcanolist";
@import "./styles/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fonstStack;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 8%;
}

@import "./styles/tablet";
@import "./styles/mobile";
